<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/}"> === projectHome.html === </a><br>
	<h2> 숙제들(언제 할래?) </h2>
	<div id="todayHw">
		<div class="HwBox">
			<h3>오늘의 숙제</h3>
			<p>모바일 게임 공략 글 작성 페이지 마저 완성하기</p>
			<p>로그인 한 회원만 작성 가능</p>
			<p>작성 폼 : 작성자, 제목, 모바일게임 이름, 공략 내용 (테이블 컬럼은 이미 완성)</p>
		</div>
	</div>
	<div id="weekHw">
		<div class="HwBox">
			<h3>이번주 숙제</h3>
			<p>캠핑장 예약 관리 프로그램</p>
			<p>캠핑장 내 텐트 구역은 총 30개이고 매주 수요일은 휴무이다.</p>
			<p>예약 프로그램 동작이 되기 위한 클래스와 인터페이스들을 만들어서 구현하세요</p>
		</div>
	</div>
	<div id="midProject">
		<div class="HwBox">
			<h3>중간 프로젝트 준비</h3>
			<p>사이트 맵 중 한 페이지만 만들기</p><br>
			<p>5조. 이연상, 김경제, 송영진</p>
			<p>도서 관리 사이트(도서 등록, 수정, 삭제, 검색)</p>
			<p>총 페이지(jsp) 수는 5~10페이지</p>
			<p>책 클래스 필수 값 : 제목, 페이지수, 지은이, 출판사, 코드번호, 분류, 목차</p>
			<p>검색 : 분류, 제목, 지은이, 출판사 별로... 혹은 한번에 통합 검색</p>
			<p>책은 30권 이상 등록할 것</p>
			<p>지금 배우고 있는 게시판을 만들 수 있다면 모두 가능한 내용들이다.</p>
		</div>
	</div>
	<div id="finalProject">
		<div class="HwBox">
			<h3>최종 프로젝트 준비 (취업을 위한 최종 포트폴리오 만들기)</h3>
			<p>사이트 맵 전부 만들기</p>
			<p>1. 미리 무엇을 만들지 생각하기(사이트맵 한 개를 통째로 만든다고 생각하면 된다.)</p>
			<p>2. 기존과 비교하여 개선하고 싶은 불편/불만을 찾기</p>
			<p>3. 개선할 점을 구현하기</p>
			<p>4. 남들이 많이 할 만한 것들(유튜브, 영화리뷰사이트 등등)은 가급적이면 피하거나 개쩔게 만들어서 볼 수 밖에 없게 만들 것</p>
			<p>예시) 게시판 관리한다.</p>
			<p>비속어 신고가 들어오면 수동으로 (1일 정지, 7일 정지, 30일 정지, 90일 정지, 영구 정지) 제재한다.</p>
			<p>이것을 자동으로 할 수 있도록 개선한다.</p>
		</div>
	</div>
	<div id="myWant">
		<div class="HwBox">
			<h3>내가 만들고 싶은 페이지</h3>
			<p>미니게임 천국</p>
			<p>1p : mygamesite (시작화면)</p>
			<p>2p : gamegroup (게임분류 선택화면 / 4종예상)</p>
			<p>3~6p : gamegroup(1~4) (게임분류 별 세부게임 선택화면)</p>
			<p>7~8p : gamename (세부게임 / 가로방향, 세로방향)</p>
			<p>9p : score (결과창)</p>
			<p></p>
			<p></p>
		</div>
	</div>
</body>
</html>