<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
	<title layout:fragment="title">5조도서관</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
</head>
	<div layout:fragment="main" id="main">
		<h2> 도서관 메인 화면 </h2> <br> <br>
		<a href="/library/write"> 도서 등록 </a>
		<a href="/library/index"> 도서 목록 </a>
		<h3> 여기가 검색 화면 위치인가? </h3> <br> <br>
		<h4> 여기가 검색 결과 화면 위치인가? </h4> <br> <br>
		<h4> 여기가 검색 결과 화면 위치인가? </h4> <br> <br>
		<h4> 여기가 검색 결과 화면 위치인가? </h4> <br> <br>
		<h4> 여기가 검색 결과 화면 위치인가? </h4> <br> <br>
		<h4> 여기가 검색 결과 화면 위치인가? </h4> <br> <br>
		<h4> 여기가 검색 결과 화면 위치인가? </h4> <br> <br>
		<h4> 여기가 검색 결과 화면 위치인가? </h4> <br> <br>
		<p> 바닥이다 </p> <br> <br>
		<p> 그런 것 같다 </p>
	</div>
	<div>
		<p>
			application.properties save(기존)
			
			#database set
			spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
			spring.datasource.url=jdbc:mysql://121.125.164.219:3306/ry0606
			spring.datasource.username=ry0606
			spring.datasource.password=123456
		</p>
		<p>
			application.properties save(외부데이터베이스계정 6개월)
			
			#database set
			spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
			spring.datasource.url=jdbc:mysql://localhost:3306/ry0606
			spring.datasource.username=ry0606
			spring.datasource.password=123456
		</p>
	</div>
</html>