<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="footer" id="footer">
		<div id="banner">
			<ul>
				<li> <a href="https://www.dlibrary.go.kr/" target="_blank"> 국가전자도서관 </a> </li>
				<li> <a href="https://dl.nanet.go.kr/" target="_blank"> 국회전자도서관 </a> </li>
				<li> <a href="https://www.riss.kr/index.do" target="_blank"> 학술연구정보서비스 </a> </li>
				<li> <a href="https://nl.go.kr/" target="_blank"> 국립중앙도서관 </a> </li>
				<li> <a href="https://library.scourt.go.kr/" target="_blank"> 법원도서관 </a> </li>
				<li> <a href="https://scienceon.kisti.re.kr/main/mainForm.do" target="_blank"> SCIENCE ON </a> </li>
				<li> <a href="https://lib.rda.go.kr/main.do" target="_blank"> 농업과학도서관 </a> </li>
				<li> <a href="https://library.nih.go.kr/ncmiklib/index/index.do" target="_blank"> 국립의과학지식센터 </a> </li>
			</ul>
		</div>
		<div id="law">
			<ul>
				<li> <a href=""> 개인정보처리방침 </a> </li>
				<li> <a href=""> 이메일무단수집거부 </a> </li>
				<li> <a href=""> 찾아오시는길 </a> </li>
			</ul>
		</div>
		<div id="info">
			<ul>
				<p> 주소 : 대전광역시 중구 선화동 방산빌딩 201호 </p>
				<p> 이메일 : bookproject@dwacademi.co.kr </p>
				<p> 전화 : (042)999-9998 </p>
				<p> 팩스 : (042)999-9999 </p>
			</ul>
		</div>
		<div id="copyright">
			<ul>
				<div class="logo2"></div>
				<p> copyright </p>
			</ul>
		</div>
	</div>
</html>