<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{movie/default}">
<head>
	<title layout:fragment="title">리뷰내용</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="js"></th:block>
</head>
	<div layout:fragment="main" id="main">
		<h2> 리뷰 상세 페이지 </h2>
		<table th:object="${movieReviewDTO}">
			<tr>
				<td>번호</td>
				<td th:text="*{review_id}"></td>
			</tr>
			<tr>
				<td>제목</td>
				<td th:text="*{title}"></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td th:text="*{writer}"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td th:text="*{content}"></td>
			</tr>
			<tr>
				<td>작성일</td>
				<td th:text="*{#temporals.format(write_date,'yyyy-MM-dd HH-mm')}"></td>
			</tr>
		</table>
		<p> <a th:href="@{/movieMenu/review}">생생영화후기</a> </p>
	</div>
</html>