@charset "UTF-8";
/* write.css */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#wrap{
	width:500px;
	margin:0 auto;
}
#enrollCount{ padding:15px; }
#formWrap{
	width:100%;
	padding:20px;
	border:1px solid #ccc;
	border-radius:10px;
}
.inputField{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:7px 0;
}
.inputField input{
	width:70%;
	height:35px;
	padding:10px;
	border-radius:10px;
}
.inputField input[type=radio]{
	width:17px;
	height:17px;
	margin-left:15px;
}
#bt{
	width:80%;
	border:0;
	background:lightgreen;
	border-radius:10px;
	display:block;
	margin:0 auto;
	padding:10px 0;
	color:brown;
	font-weight:700;
	font-size:20px;
	cursor:pointer;
}
