@charset "UTF-8";
/* view.css */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.tdhead{
	width:100px;
	height:20px;
}
.data{
	width:700px;
	height:20px;
	border:1px solid black;
	border-radius:5px;
}
.contdata{
	width:700px;
	height:400px;
	border:1px solid black;
	border-radius:5px;
}
.imgdata{
	width:700px;
	height:20px;
	border:1px solid black;
	border-radius:5px;
}
.textarea{
	width:700px;
	height:300px;
	overflow:auto;
	resize:none;
}
form table tr td .input{
	border:none !important;
	outline:none !important;
}
form .input{
	border:none !important;
	outline:none !important;
}

