<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
	<title layout:fragment="title">5조도서관</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
</head>
	<div layout:fragment="main" id="main">
		<h1>도서 관리 페이지</h1>
		<a href="/library/write">도서 등록</a>
		<div>
            <table>
            	<thead>
            		<tr>
            			<td class="btitl">제목</td>
            			<td class="bimg">표지</td>
            		</tr>
            	</thead>
            	<tbody>
            		<tr th:each="book : ${bookList}">
            			<td class="btitl"> <a th:href="@{'/library/view/'+${book.bid}}" th:text="${book.btitl}"></a> </td>
            			<td class="burl"> <img th:src="@{${book.burl}}" alt="이미지" style="max-width:100px;" /> </td>
            		</tr>
            	</tbody>
            </table>
        </div>
	</div>
</html>