<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movieAndGame.DAO.GameMemberDAO">
	<insert id="insert" parameterType="com.movieAndGame.DTO.GameMemberDTO">
		insert into game_member(member_id, password, name, nick, email, tel, birth_year, birth_month) values(#{memberId},#{password},#{name},#{nick},#{email},#{tel},#{birthYear},#{birthMonth})
	</insert>
	<select id="findAllId" resultType="java.lang.String">
		select member_id from game_member;
	</select>
	<select id="login" parameterType="com.movieAndGame.DTO.GameMemberDTO" resultType="com.movieAndGame.DTO.GameMemberDTO">
		select member_id, name, nick, email, tel, birth_year, birth_month from game_member where member_id=#{memberId} and password=#{password}
	</select>
</mapper>