<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="headerFrag" id="header">
		<div id="nav">
			<ul id="menuList">
				<li> <a th:href="@{pcgame}">PC게임</a> </li>
				<li> <a th:href="@{mobile}">모바일</a> </li>
				<li> <a th:href="@{console}">콘솔</a> </li>
				<li> <a th:href="@{makebyme}">MakeByMe</a> </li>
				<li> <a th:href="@{disgame}">불만게임</a> </li>
				<li> <a th:href="@{review}">게임톡톡리뷰</a> </li>
			</ul>
			<div id="userALogo">
				<div class="userBox">
					<span class="login"> <a th:href="@{login}"> 로그인 </a> </span>
					<span class="userService">고객센터</span>
				</div>
				<div class="logo"></div>
			</div>
		</div>
	</div>	
</html>