<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게임톡톡</title>
<!-- jquery CDN -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/default.css">
<script src="/js/default.js"></script>
</head>
<body>
	<a th:href="@{/}"> === projectHome.heml === </a><br>
	<h2> 게임톡톡 메인 화면 </h2>
	<div id="wrap">
		<div id="header">
			<div id="nav">
				<ul id="menuList">
					<li> <a></a> </li>
					<li> <a></a> </li>
					<li> <a></a> </li>
					<li> <a href="/game/review">게임톡톡평점</a> </li>
				</ul>
				<div id="userALogo">
					<div class="userBox">
						<span class="login">
							<a th:href="@{/game/login}"> 로그인 </a>
						</span><br>
						<a href="/game/signUp">회원가입</a><br>
						<span class="userService">고객센터</span>
					</div>
					<div class="logo"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="main">
		<div id="mainBox"></div>
	</div>
	<div id="footer">
		<div id="footerBox"></div>
	</div>
</body>
</html>