<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
	<title layout:fragment="title">5조도서관</title>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/view.css}">
	</th:block>
	<th:block layout:fragment="script"></th:block>
</head>
	<div layout:fragment="main" id="main">
		<h2 id="title"> 도서 등록 페이지 </h2>
		<form method="post" action="/write" th:object="${bkDTO}" enctype="multipart/form-data">
			<table>
				<tr>
					<td class="tdhead">책제목</td>
					<td class="data"><input class="input" type="text" th:field="*{btitl}"></td>
				</tr>
				<tr>
					<td class="tdhead">부제</td>
					<td class="data"><input class="input" type="text" th:field="*{bsubt}"></td>
				</tr>
				<tr>
					<td class="tdhead">권수</td>
					<td class="data"><input class="input" type="number" th:field="*{bvolu}" min=1></td>
				</tr>
				<tr>
					<td class="tdhead">지은이</td>
					<td class="data"><input class="input" type="text" th:field="*{bwrit}"></td>
				</tr>
				<tr>
					<td class="tdhead">옮긴이</td>
					<td class="data"><input class="input" type="text" th:field="*{btran}"></td>
				</tr>
				<tr>
					<td class="tdhead">주제어</td>
					<td class="data"><input class="input" type="text" th:field="*{bkeyw}"></td>
				</tr>
				<tr>
					<td class="tdhead">출판사</td>
					<td class="data"><input class="input" type="text" th:field="*{bpubl}"></td>
				</tr>
				<tr>
					<td class="tdhead">페이지</td>
					<td class="data"><input class="input" type="number" th:field="*{bpage}" min=1></td>
				</tr>
				<tr>
					<td class="tdhead">발행일</td>
					<td class="data"><input class="input" type="text" th:field="*{bdate}"></td>
				</tr>
				<tr>
					<td class="tdhead">가격</td>
					<td class="data"><input class="input" type="number" th:field="*{bpric}" min=1000></td>
				</tr>
				<tr>
					<td class="tdhead">분류</td>
					<td class="data"><input class="input" type="text" th:field="*{bsort}"></td>
				</tr>
				<tr>
					<td class="tdhead">코드번호</td>
					<td class="data"><input class="input" type="text" th:field="*{bcode}"></td>
				</tr>
				<tr>
					<td class="tdhead">목차</td>
					<td class="contdata"><textarea class="textarea" th:field="*{bcont}"></textarea></td>
				</tr>
				<tr>
					<td class="tdhead">표지</td>
					<td class="imgdata"><input class="input" type="file" th:field="*{bimg}"></td>
				</tr>
				<tr>
					<td>
						<button type="submit">작성</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</html>
