<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="headerFrag" id="header">
		<div id="nav">
			<ul id="menuList">
				<li> <a th:href="@{playing}">상영영화</a> </li>
				<li> <a th:href="@{schedule}">상영예정영화</a> </li>
				<li> <a th:href="@{preview}">시사회</a> </li>
				<li> <a th:href="@{review}">생생영화후기</a> </li>
			</ul>
			<div id="userALogo">
				<div class="userBox">
					<span class="login"> <a th:href="@{login}"> 로그인 </a> </span>
					<span class="userService"> 고객센터 </span>
				</div>
				<div class="logo"></div>
			</div>
		</div>
	</div>
</html>