<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2> 메인 페이지 </h2>
	<form action="signIn" method="get">
		<button> 로그인 페이지 </button>
	</form>
	<a href="/signIn"> 로그인 페이지 </a><br>
	<form action="signUp" method="get">
		<button> 회원가입 페이지 </button>
	</form>
	<a href="/signUp"> 회원가입 페이지 </a><br>
	<form action="/board" method="post">
		<button> 게시판 메인 페이지 </button>
	</form>
	<form action="inquiry" method="get">
		<button> 문의 페이지 </button>
	</form>
	<a href="/inquiry"> 문의 페이지 </a><br>
</body>
</html>